
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Alegreya", serif;
}
body{
  scroll-behavior: smooth;
}
.logo img {
  height: 2.8rem;
  width: 2.8rem;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12vh;
}
ul,
li,
a {
  font-size: 1.2rem;
  display: flex;
  text-decoration: none;
  gap: 4rem;
  list-style: none;
  color: #767676;
  font-weight: 500;
}
button {
  height: 2.5rem;
  width: 7rem;
  font-weight: 500;
  color: white;
  font-size: 1.1rem;
  border: none;
  background-color: #04ddb2;
  border-radius: 62rem;
}
li,
a:hover {
  color: rgb(27, 27, 27);
  font-size: 1.12rem;
}
button:hover {
  height: 2.6rem;
  width: 7.1rem;
  border-color: #04ddb2;
}
/* main */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 200px;
}
.nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  opacity: 0.9;
}
h1{
  font-size: 64px;
  color: #333;
  line-height: 1.05;
  margin: 0;
}
p{
  width: 34rem;
  font-size: 1.6rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.45;
  color: #333;
}
img{
  height: 540px;
  width: 940px;
  margin-top: 48px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
img:hover{
  height: 541px;
  width: 941px;
}
.down-para{
  width: 500px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.1;
  word-spacing: 50%;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 48px;
  margin-bottom: 30px;
}
.btn-bottom{
  height: 4rem;
  width: 12rem;
  font-weight: 500;
  color: white;
  font-size: 1.6rem;
  border: none;
  background-color: #04ddb2;
  border-radius: 62rem;
}
.btn-bottom:hover {
  height: 4rem;
  width: 12.1rem;
  border-color: #04ddb2;
}
/* footer code using display grid */

footer{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin: 48px 48px 48px;
  padding: 100px;

}
ol,li {
  color: rgb(8, 8, 8);
}
hr{
  margin: 10rem 15rem 0rem 15rem;
  /* margin-left: 15rem;
  margin-right: 15rem; */
  border-top: 1px dotted #c9c4c4;
}