
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Alegreya", serif;
}
.logo img {
  height: 2.8rem;
  width: 2.8rem;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12vh;
}
ul,
li,
a {
  font-size: 1.2rem;
  display: flex;
  text-decoration: none;
  gap: 4rem;
  list-style: none;
  color: #767676;
  font-weight: 500;
}
button {
  height: 2.5rem;
  width: 7rem;
  font-weight: 500;
  color: white;
  font-size: 1.1rem;
  border: none;
  background-color: #04ddb2;
  border-radius: 62rem;
}
li,
a:hover {
  color: rgb(27, 27, 27);
  font-size: 1.12rem;
}
button:hover {
  height: 2.6rem;
  width: 7.1rem;
  border-color: #04ddb2;
}
/* main */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.nav{
  position: fixed;
  width: 100%;
}
h1{
  font-size: 64px;
  color: #333;
  line-height: 1.05;
  margin: 0;
}
p{
  width: 34rem;
  font-size: 1.6rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.45;
  color: #333;
}
