*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: gray;
}
/* nav */
.logo, img{
height: 25px;
width: 25px;
}
.navbar{
    padding-top: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.navlist ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    font-size: 18px;
    padding-left: 2rem;
    padding-right:2rem ;
    list-style: none;

}
.download-btn{
    height: 3rem;
    width: 8rem;
    border-radius: 1000px;
    background-color: aquamarine;
    opacity: 85%;
    border: none;
}
.download-btn:hover{
    height: 2.3rem;
    width: 6.5rem;
    font-weight: 600;
}
li:hover{
    color: black;
    font-size: 20px;
}
/* design main section */
.main-body{
    text-align: center;
    padding-top: 7rem;
}
.main-heading{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(79, 215, 170);
    margin: 1rem;
}
.main-para{
    font-size: 30px;
    /* font-weight: 500; */
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}